body {
  padding: 0;
  margin: 0;
}

#mapid,
body,
html {
  height: 100%;
}

.legend {
	padding-left: 5px;
	padding-bottom: 3px;
	background: white;

}

.legend h4 {
	text-align: center;
	font-size: 16px;
	margin:2px 12px 8px;
	color: #777;
}

.legend span {
	position: relative;
	bottom: 3px;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin: 0 8px 0 0;
	opacity: 0.8;
}

.legend i.icon {
	background-size: 18px;
	background-color: rgba(255,255,255,1);
}